<!DOCTYPE html>
<html>
<head>
    <title>Stage 5</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center mt-5">
    <div class="container">
        <h1 class="mb-4">Stage Five: The Return 🫶</h1>
        <p class="lead mb-4">
            The return is a celebration of our journey together.
            It's about coming back to the moments that matter, the memories we've created, and the love that continues to grow.
            I want you to always feel secure that no matter where life takes us, we will always find our way back to each other.
            This is the essence of our relationship, a bond that transcends time and distance.
        </p>
        
        <img src="{{ url_for('static', filename='images/page5.jpg') }}" class="img-fluid rounded mb-4" style="max-width: 400px;">

        <hr class="my-5">

        <p class="mb-2">Find your suprise here! It may take a minute or two to load</p>
        <a href="https://gfhiddentask.onrender.com" class="btn btn-outline-secondary" target="_blank">Go to Special Link</a>
        <br>
        <a href="/" class="btn btn-secondary">⬅ Back to Home</a>
    </div>
</body>
</html>