<!DOCTYPE html>
<html>
<head>
    <title>Stage 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center mt-5">
    <div class="container">
        <h1 class="mb-4">Stage Four: The Shine ✨</h1>
        <p class="lead mb-4">
            Shining bright is the essence of our journey together.
            It's about celebrating the moments that make us feel alive, the laughter, the joy, and the love that we share.
            I want you to remember that feeling, the warmth of our connection, and the light that we bring into each other's lives.
            It's about what will come next, the adventures that await us, and the memories we will create together.
        </p>
        
        <img src="{{ url_for('static', filename='images/page4.jpg') }}" class="img-fluid rounded mb-4" style="max-width: 400px;">

        <hr class="my-5">

        <p class="mb-2">Find your suprise here!</p>
        <a href="https://notability.com/n/0iyf5viY_8Xu6c~QzkAzxm" class="btn btn-outline-secondary" target="_blank">Go to Special Link</a>
        <br>
        <a href="/" class="btn btn-secondary">⬅ Back to Home</a>
    </div>
</body>
</html>