<!DOCTYPE html>
<html>
<head>
    <title>Stage 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center mt-5">
    <div class="container">
        <h1 class="mb-4">Stage Three: The Trust 🤝</h1>
        <p class="lead mb-4">
            Every relationship thrives on trust.
            It's the invisible thread that binds us, allowing us to be vulnerable and open.
            Trust is built through shared experiences, honesty, and the courage to be ourselves.
            I want you to remember that feeling, the comfort of knowing that you can rely on me, and that I'll continue to rely on you.
        </p>
        
        <img src="{{ url_for('static', filename='images/page3.jpg') }}" class="img-fluid rounded mb-4" style="max-width: 400px;">

        <hr class="my-5">

        <p class="mb-2">Find your suprise here!</p>
        <a href="https://notability.com/n/jnl~xotK5negA~wdIIN4e" class="btn btn-outline-secondary" target="_blank">Go to Special Link</a>
        <br>
        <a href="/" class="btn btn-secondary">⬅ Back to Home</a>
    </div>
</body>
</html>